html{
	background-color: rgb(38, 31, 63);
}

body{
	font-family: Impact;
	font-size: large;
}

h1 {
	color: lightgrey;
	font-family: sans-serif;
}

iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a{
	color: rgb(16, 198, 230);
}

a:visited{
	color: rgb(165, 140, 255);
}

a:hover{
	color: rgb(156, 223, 235);
}

a:active{
	color: rgb(6, 26, 142);
}

h1, a {
	text-align: center;
}