h1, h2,p{
    text-align: center;
}

body {
    font-family: sans-serif;   
}

html{
    background: linear-gradient(rgb(134, 155, 194) 65%, rgb(107, 111, 168));
}

.stripe{
    height: 5px;
}

.red{
    background-color: rgb(200, 0, 0);
}

.orange{
    background-color: rgb(255, 90, 0);
}

.yellow{
    background-color: rgb(250, 180, 0);
}

.verde{
    background-color: rgb(0, 165, 41);
}

.azul{
    background-color: rgb(16, 126, 230);
}

.morado{
    background-color: rgb(93, 51, 207);
}