h1, h2,p{
    text-align: center;
}

body {
    font-family: sans-serif;   
}

html{
    background: linear-gradient(180deg, rgb(134, 155, 194), rgb(58, 62, 112));
}

.stripe{
    height: 15px;
}

.red{
    background-color: rgb(200, 0, 0);
}