h1, h2,p{
    text-align: center;
}

h1, h2, h3, p, ul, li, ol{
    color: lightgrey;
}

body {
    font-family: sans-serif;
}

html{
    background: linear-gradient(rgb(32, 28, 41) 85%, rgb(50, 53, 95));
}

.stripe{
    height: 15px;
}

.red{
    background-color: rgb(200, 0, 0);
}

.orange{
    background-color: rgb(255, 90, 0);
}

.yellow{
    background-color: rgb(250, 180, 0);
}

.verde{
    background-color: rgb(0, 165, 41);
}

.azul{
    background-color: rgb(16, 126, 230);
}

.morado{
    background-color: rgb(93, 51, 207);
}

a{
    color: rgb(16, 198, 230);
}

a:visited{
	color: rgb(165, 140, 255);
}

a:hover{
	color: rgb(156, 223, 235);
}

a:active{
	color: rgb(6, 26, 142);
}